@use "../../styles/variables.scss" as variables;
@import "../../styles/variables.scss";

.project-thumbnail {
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;

   .project-info-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      p {
         color: variables.$text-black;
         @include sm {
            font-size: 0.8rem;
         }
         @include md {
            font-size: 1rem;
         }
         @include lg {
            font-size: 1.5rem;
         }
         font-weight: 300;
         margin: 0px;   
      }

      .left {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
      }

      .right {
         a { 
            text-decoration: none;
         }

         p {
            cursor: pointer;
            text-decoration: underline;
            text-decoration-color: transparent;
            transition: text-decoration 0.5s;
         }

         p:hover {
            text-decoration-color: variables.$text-black;
         }

      }
   }
}