@use "../../styles/variables.scss" as variables;


.footer-container {
   width: 100%;
   position: fixed;
   display: flex;
   flex-direction: column;
   justify-items: center;
   align-items: center;
   bottom: 0;
   left: 0;
   right: 0;
   margin-left: auto;
   margin-right: auto;
   backdrop-filter: blur(10px);
   background-color: #e2e2e399;
   

   a:not(:hover) {
      img {
         opacity: 100;
         transition: opacity 0.4s;
      }
   }

   a:hover {
      img {
         opacity: 90%;
      }
   }

   .line {
      width: 1100px;
      height: 1px;
      background-color: variables.$text-black;
   }

   .footer {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 1100px;
      height: 100px;
      font-weight: 200;
      font-size: 10pt;

      .contact {
         display: flex;
         flex-direction: column;
         justify-content: center;
         gap: 8px;
         margin-right: auto;
         margin-left: 30px;

         p {
            margin: 0px;
         }

         a {
            text-decoration: none;
            color: variables.$text-black;
         }

         .contact-way {
            display: flex;
            align-items: center;

            img {
               margin-right: 4px;
            }
         }
      }

      .copyright {
         position: absolute;
         margin: auto;
      }

      .socials {
         display: flex;
         flex-direction: column;
         text-align: center;
         margin-left: auto;
         margin-right: 30px;

         p {
            margin-bottom: 8px;
         }

         .icons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
         }
      }
   }
}