@use "../../styles/variables.scss" as variables;

.service {
   width: 400px;
   display: flex;
   flex-direction: column;
   justify-items: center;
   align-items: center;
   align-content: center;

   h2 {
      font-weight: 300;
   }

   .information {
      width: 100%;
      height: 500px;
      position: relative;
      box-sizing: border-box;
      border: 1px solid transparent;
      transition: border 0.5s;
      padding: 20px;     
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p {
         font-size: 24px;
      }

      .prices {
         text-align: center;
      }

      img {
         object-fit: cover;
         transition: opacity 0.5s;
      }

      img:hover {
         opacity: 0%;
      }
   }

   .information:hover {
      border: 1px solid variables.$text-black;
   }
}