@use "variables.scss" as variables;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
   background: variables.$background-white;
   font-family: "Inter", sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   min-width: fit-content;
   margin: 0;
}