@use "variables.scss" as variables;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "./common.scss";

// components

@import "../components/footer/footer.scss";
@import "../components/navbar/navbar.scss";

.mainpage-container {
   display: flex;
   margin-top: 50px;

   .photos-container {
      display: flex;
      gap: 10px;
      margin-right: 50px;

      .obrazek {
         position: relative;
         height: 610px;
         width: 400px;

      }

      .square-images {
         display: flex;
         flex-direction: column;
         gap: 10px;
      }
   }

   .menu-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      a {
         text-decoration: none;
         display: flex;
         align-items: center;
         gap: 20px;
         color: variables.$text-black;

         h3 {
            font-size: 3rem;
            font-weight: 200;
            margin-top: 4px;
            margin-bottom: 4px;
         }

         // h3:hover {
         //    text-decoration: underline;
         //    text-decoration-color: variables.$text-black;
         //    text-decoration-thickness: 2px;
         //    text-underline-offset: 8px;
         // }
      }

      a:hover {
         text-decoration: underline;
         text-decoration-color: variables.$text-black;
         text-decoration-thickness: 2px;
         text-underline-offset: 8px;
      }

      a:not(:hover) {
         img {
            opacity: 0;
         }
      }
   }
}