@use "variables.scss" as variables;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "./common.scss";
@import "./variables.scss";

// components

@import "../components/footer/footer.scss";
@import "../components/navbar/navbar.scss";
@import "../components/card/card.scss";
@import "../components/service/service.scss";
@import "../components/imagemodal/imagemodal.scss";
@import "../components/project-thumbnail/projectthumbnail.scss";
@import "../components/comment/comment.scss";

.app-container {
   display: flex;
   position: absolute;
   flex-direction: column;
   align-items: center;
   min-height: 100vh;
   min-width: min-content;
   left: 0px;
   right: 0px;
}

.not-found-container {
   display: flex;
   flex-grow: 1;
   flex-direction: column;
   align-items: center;
   align-content: center;
   @include sm {
      width: 350px;
      margin-top: 20px;
   }
   @include md {
      width: 600px;
      margin-top: 60px;
   }
   @include lg {
      width: 1100px;
      margin-top: 120px;
   }

   img {
      @include sm {
         width: 204px;
      }
      @include md {
         width: 304px;
      }
      @include lg {
         width: 404px;
      }
   }

   a {
      text-decoration: none;
      display: flex;
      align-items: center;

      @include sm {
         gap: 5px;
      }
      @include md {
         gap: 10px;
      }
      @include lg {
         gap: 20px;
      }
      color: variables.$text-black;

      .button {
         background-color: variables.$text-black;
         color: variables.$background-white;
         border: 1px solid variables.$text-black;

         @include sm {
            margin-top: 15px;
         }
         @include md {
            margin-top: 30px;
         }
         @include lg {
            margin-top: 50px;
         }
         transition: background-color 0.5s;
         transition: color 0.5s;

         h2 {
            font-weight: 300;
            @include sm {
               font-size: 1rem;
               padding-left: 15px;
               padding-right: 15px;
               margin-top: 8px;
               margin-bottom: 8px;
            }
            @include md {
               font-size: 1.2rem;
               padding-left: 20px;
               padding-right: 20px;
               margin-top: 8px;
               margin-bottom: 8px;
            }
            @include lg {
               font-size: 1.5rem;
               padding-left: 40px;
               padding-right: 40px;
               margin-top: 12px;
               margin-bottom: 12px; 
            }
            
         }
      }

      .button:hover {
         background-color: variables.$background-white;
         color: variables.$text-black;
         border: 1px solid variables.$text-black;
      }
   }
}

.mainpage-container {
   display: flex;
   flex-grow: 1;
   justify-content: center;

   @include sm {
      width: 350px;
      margin-top: 20px;
      margin-bottom: 0px;
   }
   @include md {
      width: 600px;
      margin-top: 30px;
      margin-bottom: 0px;
   }
   @include lg {
      width: 1100px;
      margin-top: 50px;
      margin-bottom: 120px;
   }

   .mainpage-content {
      display: flex;
      height: fit-content;

      @include sm {
         gap: 10px;
      }
      @include md {
         gap: 20px;
      }
      @include lg {
         gap: 50px;
      }

      .photos-container {
         display: flex;
     
         @include sm {
            gap: 5px;
            flex-direction: column;
         }
         @include md { 
            flex-direction: row;
         }
         @include lg {
            gap: 10px;
            flex-direction: row;
         }

         .tall-image {
            position: relative;

            @include sm {
               height: 305px;
            }
            @include lg {
               height: 610px;
            }
            aspect-ratio: 2/3;
            overflow: hidden;
         }

         .square-images {
            position: relative;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            @include sm {
               display: none;
               gap: 5px;
            }
            @include md {
               display: flex;
            }
            @include lg {
               display: flex;
               gap: 10px;
            }

            .square-image {
               position: relative;
               @include sm {
                  height: 150px;
               }
               @include lg {
                  height: 300px;
               }
               aspect-ratio: 1/1;
            }
         }
      }
   
      .menu-container {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: flex-start;
   
         a {
            display: flex;
            align-items: center;
            color: variables.$text-black;
   
            @include sm {
               gap: 2px;
            }
            @include md {
               gap: 5px;
            }
            @include lg {
               gap: 20px;
            }

            h3 {
               @include sm {
                  font-size: 1rem;
                  margin-top: 1px;
                  margin-bottom: 1px;
               }
               @include md {
                  font-size: 1.5rem;
                  margin-top: 2px;
                  margin-bottom: 2px;
               }
               @include lg {
                  font-size: 3rem;
                  margin-top: 4px;
                  margin-bottom: 4px;
               }
               font-weight: 200;
               
            }
   
         }
   
         a {
            text-decoration: underline;
            text-decoration-color: transparent;
            text-decoration-thickness: 2px;
            text-underline-offset: 8px;
            transition: text-decoration 0.4s;
         }

         a:hover {
            text-decoration: underline;
            text-decoration-color: variables.$text-black;
            text-decoration-thickness: 2px;
            text-underline-offset: 8px;
         }
   
         a:not(:hover) {
            img {
               opacity: 0;
            }
         }

         a {
            img {
               transition: opacity 0.4s;
               aspect-ratio: 1/1;
               @include sm {
                  width: 10px;
               }
               @include md {
                  width: 20px;
               }
               @include lg {
                  width: 50px;
               }
            }
         }
         
      }
   }

   
}

.about-container {
   margin-top: 50px;
   flex-grow: 1;
   @include sm {
      width: 350px;
   }
   @include md {
      width: 600px;
   }
   @include lg {
      width: 1100px;
   }
   display: flex;
   align-items: center;
   flex-direction: column;
   padding-bottom: 120px;
   gap: 50px;

   .image-container{
      width: 100%;
      @include sm {
         height: 100px;
      }
      @include md {
         height: 200px;
      }
      @include lg {
         height: 400px;
      }
      position: relative;
   
      img {
         object-fit: cover;
      }
   }

   .text {
      text-align: left;
      text-justify: inter-word;
      @include sm {
         width: 300px;
      }
      @include md {
         width: 450px;
      }
      @include lg {
         width: 600px;
      }
      text-align: justify;

      h1 {
         font-weight: 400;
         @include sm {
            font-size: 1rem;
         }
         @include md {
            font-size: 1rem;
         }
         @include lg {
            font-size: 1.3rem;
         }
         margin-top: 0px;
         margin-bottom: 20px;
      }

      p {
         @include sm {
            font-size: 1rem;
         }
         @include md {
            font-size: 1rem;
         }
         @include lg {
            font-size: 1.3rem;
         }
         font-weight: 200;
      }

   }

}

.post-header-container {
   display: flex;
   position: relative;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   @include sm {
      height: 100px;
      margin-top: 20px;
   }
   @include md {
      height: 200px;
      margin-top: 30px;
   }
   @include lg {
      height: 250px;
      margin-top: 50px;
   }
   color: variables.$white;
   overflow: hidden;
   
   img {
      display: flex;
      object-fit: cover;
   }

   .post-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.50);
      text-align: center;

      h2 {
         font-weight: 300;
         @include sm {
            font-size: 1rem;
         }
         @include md {
            font-size: 2rem;
         }
         @include lg {
            font-size: 3rem;
         }
         margin: 0;
      }
   
      h3 {
         font-weight: 300;
         @include sm {
            font-size: 1rem;
         }
         @include md {
            font-size: 1.2rem;
         }
         @include lg {
            font-size: 1.5rem;
         }
         margin: 0;
      }
   }     
}

.post-container {
   flex-grow: 1;
   @include sm {
      width: 350px;
   }
   @include md {
      width: 600px;
   }
   @include lg {
      width: 1100px;
   }
   display: flex;
   flex-direction: column;
   align-items: center;
   @include sm {
      padding-bottom: 90px;
   }
   @include md {
      padding-bottom: 100px;
   }
   @include lg {
      padding-bottom: 130px;
   }

   .date {
      text-align: center;

      p {
         font-style: italic;
         
         @include sm {
            font-size: 0.8rem;
         }
         @include md {
            font-size: 1rem;
         }
         @include lg {
            font-size: 1.2rem;
         }
      }
   }

   .post-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: center;
      margin-bottom: 12px;
      margin-top: 38px;

      .post-photo {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         align-content: center;

         img {
            max-width: 50%;
         }

         p {
            margin-top: 8px;
            @include sm {
               font-size: 0.7rem;
            }
            @include md {
               font-size: 0.8rem;
            }
            @include lg {
               font-size: 1rem;
            }
            font-weight: 200;
         }
      }

      p {
         font-weight: 300;
         @include sm {
            font-size: 0.8rem;
         }
         @include md {
            font-size: 1rem;
         }
         @include lg {
            font-size: 1.2rem;
         }
         margin-bottom: 30px;
         margin-top: 0px;
      }

   }

   .comments-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: center;
      width: 100%;


      .comments {
         min-height: 400px;
         min-width: 100%;
      }

      h3 {
         font-weight: 300;
         @include sm {
            font-size: 1rem;
         }
         @include md {
            font-size: 1.5rem;
         }
         @include lg {
            font-size: 2rem;
         }
         margin: 0;
         margin-top: 1.5rem;
         margin-bottom: 1.5rem;
      }

      form {
         display: flex;
         flex-direction: column;
         gap: 10px;
         width: 100%;

         input, textarea {
            background-color: variables.$background-white;
            border: 1px solid variables.$text-black;
            font-family: "Inter", sans-serif;
            
         }

         #comment {
            resize: none;
            height: 100px;
            padding: 10px;
            box-sizing: border-box;
            @include sm {
               font-size: 0.7rem;
            }
            @include md {
               font-size: 0.8rem;
            }
            @include lg {
               font-size: 1rem;
            }
         }

         .submitter {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            #nickname {
               width: 150px;
               height: 25px;
            }
   
            label {
               margin-right: 10px;
               padding-bottom: 0px;
               padding-top: 0px;
               @include sm {
                  font-size: 0.9rem;
               }
               @include md {
                  font-size: 1rem;
               }
               @include lg {
                  font-size: 1.3rem;
               }
            }

            input {
               border: 1px solid variables.$text-black;
            }

            button {
               margin-left: 10px;
               width: 100px;
               background-color: variables.$text-black;
               border: 1px solid variables.$text-black;
               color: variables.$background-white;
               padding-bottom: 6px;
               padding-top: 6px;
            }

            button:hover {
               cursor: pointer;
               background-color: variables.$background-white;
               border: 1px solid variables.$text-black;
               color: variables.$text-black;
            }
         }
      }
   }

   

   .line {
      @include sm {
         width: 200px;
      }
      @include md {
         width: 300px;
      }
      @include lg {
         width: 600px;
      }
      height: 1px;
      background: variables.$text-black;
   }
}

.blog-container {
   display: flex;
   justify-content: center;
   margin-top: 50px;
   @include sm {
      width: 350px;
   }
   @include md {
      width: 600px;
   }
   @include lg {
      width: 1100px;
   }

   .cards-container {
      display: grid;
      
      @include sm {
         grid-template-columns: repeat(1, 1fr);
      }
      @include md {
         grid-template-columns: repeat(2, 1fr);
      }
      @include lg {
         grid-template-columns: repeat(3, 1fr);
      }
      grid-auto-rows: auto;
      grid-gap: 50px;

      a {
         max-height: fit-content;
      }
   }

}

.pagination-container {
   display: flex;
   flex-direction: column;
   align-self: center;
   gap: 10px;
   padding-bottom: 130px;
   padding-top: 20px;
   align-items: center;
   justify-content: center;

   p {
      margin: 0;
   }

   .pagination-buttons {
      display: flex;
      gap: 10px;

      button {
         align-self: flex-end;
         width: 100px;
         background-color: variables.$text-black;
         border: 1px solid variables.$text-black;
         color: variables.$background-white;
         transition: background-color 0.5s;
         transition: color 0.25s;
         padding-bottom: 6px;
         padding-top: 6px;
      }
   
      button:hover {
         cursor: pointer;
         background-color: variables.$background-white;
         border: 1px solid variables.$text-black;
         color: variables.$text-black;
      }

      button:disabled {
         cursor:not-allowed;
         background-color: rgb(201, 201, 201);
         border: 1px solid rgb(201, 201, 201);
         color: variables.$text-black;
      }
   }

}

.contact-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   flex-grow: 1;
   @include sm {
      width: 350px;
      margin-top: 30px;
   }
   @include md {
      width: 600px;
      margin-top: 40px;
   }
   @include lg {
      width: 1100px;
      margin-top: 50px;
   }
   padding-bottom: 130px;

   h2 {
      text-align: justify;
      font-weight: 300;
      @include sm {
         font-size: 1rem;
         margin-bottom: 20px;
      }
      @include md {
         font-size: 1.2rem;
         margin-bottom: 30px;
      }
      @include lg {
         font-size: 1.5rem;
         margin-bottom: 40px;
      }
      margin-top: 5px;

   }

   
   
   form {
      display: flex;
      flex-direction: column;
      @include sm {
         font-size: 0.7rem;
         padding-bottom: 20px;
      }
      @include md {
         font-size: 0.8rem;
         padding-bottom: 30px;
      }
      @include lg {
         font-size: 1rem;
         padding-bottom: 50px;
      }
      gap: 20px;


      .contact-row {
         display: flex;
         align-items: center;
         align-content: center;
         justify-content: space-between;

         .response-container {
            display: flex;
            
            p {
               margin: 0px;
            }

            .success {
               color: #229935;
            }
      
            .failure {
               color: #993333;
            }
         }

         button {
            align-self: flex-end;
            width: 100px;
            background-color: variables.$text-black;
            border: 1px solid variables.$text-black;
            color: variables.$background-white;
            transition: background-color 0.5s;
            transition: color 0.25s;
            padding-bottom: 6px;
            padding-top: 6px;
         }
   
         button:hover {
            cursor: pointer;
            background-color: variables.$background-white;
            border: 1px solid variables.$text-black;
            color: variables.$text-black;
         }

      }



      input, textarea {
         background-color: variables.$background-white;
         color: variables.$text-black;
         border: 1px solid variables.$text-black;
         font-family: "Inter", sans-serif;
         margin-top: 4px;
         @include sm {
            font-size: 0.7rem;
         }
         @include md {
            font-size: 0.8rem;
         }
         @include lg {
            font-size: 1rem;
         }
      }

      input {
         min-height: 30px;
         box-sizing: border-box;
         padding-left: 6px;
      }

      label::after {
         content:" *";
         color: rgb(196, 50, 50);
      }

      textarea {
         min-height: 120px;
         padding-left: 6px;
         padding-top: 6px;
         resize: none;
      }

      .name-input {
         display: flex;
         gap: 20px;

         .row-input {
            display: flex;
            flex-direction: column;
         }
      }

      .column-input {
         display: flex;
         flex-direction: column;
      }
   }
   

   .contact-links-container {
      display: flex;

      @include sm {
         gap: 20px;
      }
      @include md {
         gap: 30px;
      }
      @include lg {
         gap: 40px;
      }

      img {
         @include sm {
            width: 30px;
            aspect-ratio: 1/1;
         }
         @include md {
            width: 40px;
            aspect-ratio: 1/1;
         }
         @include lg {
            width: 50px;
            aspect-ratio: 1/1;
         }

      }

      a:not(:hover) {
         img {
            opacity: 100;
            transition: opacity 0.4s;
         }
      }

      a:hover {
         img {
            opacity: 90%;
         }
      }
   }
}

.services-container{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   flex-grow: 1;
   gap: 40px;
   @include sm {
      width: 350px;
      padding-top: 20px;
   }

   @include md {
      width: 600px;
      padding-top: 20px;
   }
   @include lg {
      width: 1100px;
      padding-top: 30px;
   }
   padding-bottom: 100px;
   

   @media (min-width: variables.$screen-sm-min) {
      flex-direction: column;
   }

   @media (min-width: variables.$screen-md-min) {
      flex-direction: column;
   }

   @media (min-width: variables.$screen-lg-min) {
      flex-direction: row;
   }

   @media (min-width: variables.$screen-xl-min) {
      flex-direction: row;
   }
}

.portfolio-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-grow: 1;
   gap: 40px;
   @include sm {
      width: 350px;
   }
   @include md {
      width: 600px;
   }
   @include lg {
      width: 1100px;
   }
   padding-bottom: 200px;
   margin-top: 50px;
}

.project-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-grow: 1;
   gap: 40px;
   padding-bottom: 100px;
   margin-top: 50px;

   .project-header {
      display: flex;
      flex-direction: column;
      align-self: flex-start;

      h2 {
         @include sm {
            font-size: 1rem;
         }
         @include md {
            font-size: 1.5rem;
         }
         @include lg {
            font-size: 2rem;
         }
         font-weight: 200;
         margin: 0;
      }

      h3 {
         @include sm {
            font-size: 0.8rem;
         }
         @include md {
            font-size: 1rem;
         }
         @include lg {
            font-size: 1.5rem;
         }
         font-weight: 200;
         margin: 0;
      }
   }

   .portfolio-masonry-container {
      display: flex;
      flex-grow: 1;

      .portfolio-masonry {
      column-count: 2;
      
      @include sm {
         column-gap: 8px;
      }
      @include md {
         column-gap: 12px;
      }
      @include lg {
         column-gap: 20px;
      }
      width: min-content;
      height: auto;
      
      img {
         @include sm {
            width: 175px;
            margin-bottom: 4px;
         }
         @include md {
            width: 300px;
            margin-bottom: 8px;
         }
         @include lg {
            width: 500px;
            margin-bottom: 14px;
         }
         cursor: zoom-in;
      }

      }

   }

}