//variables

$white: #FFFFFF;

$black: #000000;

$text-black: #2D2D2D;

$background-white: #E2E2E3;

$accent-purple: #9E00FF;

$category-red: rgb(202, 40, 40, 0.4);

$category-green: rgba(0, 75, 0, 0.4);

$category-blue: rgb(37, 37, 129, 0.4);
