@use "../../styles/variables.scss" as variables;
@import "../../styles/variables.scss";

.comment-container {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: min-content;
   font-weight: 300;
   @include sm {
      font-size: 0.9rem;
   }
   @include md {
      font-size: 0.9rem;
   }
   @include lg {
      font-size: 1rem;
   }

   .comment-info {
      display: flex;
      align-items: center;
      gap: 8px;
      color: variables.$text-black;
      margin-bottom: -12px;
   
      .comment-author {
         font-weight: 600;
      }

      .dot {
         height: 4px;
         width: 4px;
         border-radius: 50%;
         background: variables.$text-black;
      }

      .comment-date {
         font-style: italic;
      }
   }

   .comment-content {
      p {
         margin: 0;
      }
   }
}